[submodule "app"]
	path = app
	url = git@github.com:jettandres/rent-my-tent.git
[submodule "eth"]
	path = eth
	url = https://github.com/robsecord/RentMyTentEth
[submodule "web"]
	path = web
	url = https://github.com/robsecord/RentMyTentWeb/
